Librerie varie da installare

In [9]:
#!pip install openpyxl
#!pip install xlrd
#!pip install pandas
#!pip install matplotlib

Inclusione delle librerie utilizzate

In [10]:
import pandas as pd
import os
import glob

Leggo, per esempio, i file del 2015 delle aziende che non sono ancora in bancarotta

In [13]:
# Path of the file, can be changed
PATH = r"C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015"

# Dataset with all the xlsx files
input_dataset = pd.DataFrame()

# Path of each xlsx file
xlsx_files = glob.glob(os.path.join(PATH, "*.xlsx"))

# Loop over the list of csv files
for f in xlsx_files:

    # In order to read an xlsx file, the openpyxl engine is needed. In addition, the dataset is contained in the second sheet
    partial_dataset = pd.read_excel(f, engine='openpyxl', sheet_name=1)

    # Print the location and filename
    print('Location:', f)
    print('File Name:', f.split("\\")[-1])

    # Append the partial dataset
    input_dataset = pd.concat([input_dataset, partial_dataset])




print("Dimensione dataset: ", input_dataset.shape)

Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_100001_150000_GG.xlsx
File Name: Copia di Aida_Export_100001_150000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_150001_200000_GG.xlsx
File Name: Copia di Aida_Export_150001_200000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_200001_250000_GG.xlsx
File Name: Copia di Aida_Export_200001_250000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_250001_300000_GG.xlsx
File Name: Copia di Aida_Export_250001_300000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_300001_350000_GG.xlsx
File Name: Copia di Aida_Export_300001_350000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_350001_400000_GG.xlsx
File Name: Copia di Aida_Export_350001_400000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_400001_450000_GG.xlsx
File Name: Copia di Aida_Export_400001_450000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_450001_500000_GG.xlsx
File Name: Copia di Aida_Export_450001_500000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_500001_550000_GG.xlsx
File Name: Copia di Aida_Export_500001_550000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_50001_100000_GG.xlsx
File Name: Copia di Aida_Export_50001_100000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_550001_600000_GG.xlsx
File Name: Copia di Aida_Export_550001_600000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_600001_650000_GG.xlsx
File Name: Copia di Aida_Export_600001_650000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_650001_700000_GG.xlsx
File Name: Copia di Aida_Export_650001_700000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_700001_750000_GG.xlsx
File Name: Copia di Aida_Export_700001_750000_GG.xlsx
Location: C:\Users\Andre\OneDrive - Università degli Studi di Parma\Tirocinio\Dataset\Attive_rielaborate_G\2015\Copia di Aida_Export_750001_796124_GG.xlsx
File Name: Copia di Aida_Export_750001_796124_GG.xlsx
Dimensione dataset:  (799762, 243)

Rimuovo le colonne inutili allo studio

In [14]:
removed_columns = ['Unnamed: 0', 'Tax Code Number', 'CCIAA Number',
                   'Vat Number', 'Accounting closing date', 'Legal Form',
                   ' Ateco 2007 C', 'Ateco 2007 D',]
input_dataset.drop(removed_columns, axis=1, inplace=True)

Sposto le colonne non numeriche

In [15]:
non_numeric_columns = ["Ragione sociale", "Province", "Legal Status "]
descriptive_dataset = input_dataset.drop(non_numeric_columns, axis=1, inplace=True)

Filtro il dataset andando a:
    - Rimuovere tutte le colonne con solo n.a.
    - Sostituire i valori n.a.
    - Sostituire i valori n.s. (probabile typo)
    - Rimuovere tutte le colonne con dev. std. uguale 0
    - Rimuovere i restanti n.a.

In [16]:
input_dataset.dropna(axis=1, how='all', inplace=True)
input_dataset.replace(to_replace="n.a.", value=0, inplace=True)
input_dataset.replace(to_replace="n.s.", value=0, inplace=True)
input_dataset.replace(to_replace="NaN", value=0, inplace=True)
input_dataset.drop(input_dataset.std()[input_dataset.std() <= 0].index.values, axis=1, inplace=True)
input_dataset.dropna(inplace=True)

FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Guardo le statistiche delle restanti colonne

In [17]:
input_dataset.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Number of employees,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
No of avaiable years,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL receivables due from shareholders,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Called share capital,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL FIXED ASSETS\n,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
PROFIT (LOSS) GROUP,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employees,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL VALUE OF PRODUCTION.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other revenue.1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOTAL PRODUCTION COSTS.1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
print("Dimensione dataset filtrato: ", input_dataset.shape)

Dimensione dataset filtrato:  (49922, 196)